{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags wagtailcore_tags cache %}
{% block body_class %}no-overflow{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_css %}

{% block banner %}

<div class="top-baner bg-blue">
    <div class="row no-margin">
        <div class="swiper-container main-slider-4" data-autoplay="0" data-loop="1" data-speed="800" data-center="0" data-slides-per-view="1">
            <div class="swiper-wrapper">
                <div class="swiper-slide active" data-val="0">
                    <div class="hover-blue black-hover h_100">
                        <div class="clip">
                            <div class="bg bg-bg-chrome act" style="background-image:url({% static "img/home_4/resha_ressort_beach.png" %})"></div>
                        </div>
                        <div class="tour-layer delay-1"></div>
                        <div class="vertical-top">
                                <div class="weth-icon style-2 bg-blue-light radius-3 fr">
                                    <img src="{% static "img/weather_icon_small.png" %}" alt="">
                                    <div class="color-white"><b>+28<sup>o</sup>C</b></div>
                                    <div class="weth-city color-white-light">Makamba</div>
                                </div>
                        </div>
                        <div class="vertical-align">
                            <div class="item-block style-4">
                                <div class="vertical-align">
                                    <h4>Event description</h4>
                                    <div class="rate">
                                        <span class="fa fa-star color-yellow"></span>
                                        <span class="fa fa-star color-yellow"></span>
                                        <span class="fa fa-star color-yellow"></span>
                                        <span class="fa fa-star color-yellow"></span>
                                        <span class="fa fa-star color-yellow"></span>
                                    </div>
                                    <h3 class="hover-it">Gitega</h3>
                                    <div class="main-date">july <strong>19th</strong> to july <strong>26th</strong></div>
                                    <p>Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit elementum.</p>
                                </div>
                            </div>
                        </div>
                    </div>

               </div>
                <div class="pagination poin-style-1"></div>
            </div>
            <div class="find-form no-padding col-xs-12 col-md-6">
                <div>
                    <h4 class="ff_subtitle">WELCOME TO BURUNDI TOUR</h4>
                    {% if page.lead_text %}
                       <h2 class="ff_title">{{page.lead_text}}</h2>
                    {% endif %}
                    <div class="ff_text">Burundi Tour is a travel agency and a tour operator that strives to offer the most memorable moments to lovers of African adventures. Burundi Tour is located in Bujumbura-Burundi and operates across the national territory.
                      <a href="{{page.button.url}}" class="mt-2 btn btn-light btn-lg"><span>{{page.button_text}}</span></a></div>

                    <!-- <div class="form-block clearfix">
                        <div class="form-label color-white">Your preferred Tour</div>
                        <div class="input-style-1">
                            <img src="{% static "img/loc_icon_small.png" %}" alt="">
                            <input type="text" placeholder="Enter a destination or hotel name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-block clearfix">
                                <div class="form-label color-white">Arrival</div>
                                <div class="input-style-1">
                                    <img src="{% static "img/calendar_icon.png" %}" alt="">
                                    <input type="text" placeholder="Mm/Dd/Yy" class="datepicker">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-block clearfix">
                                <div class="form-label color-white">Departure</div>
                                <div class="input-style-1">
                                    <img src="{% static "img/calendar_icon.png" %}" alt="">
                                    <input type="text" placeholder="Mm/Dd/Yy" class="datepicker">
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="c-button bg-white" value="search now"> -->
                </div>
           </div>
            <div class="pagination poin-style-1"></div>
        </div>
        <div class="find-form no-padding col-xs-12 col-md-6">
            <div>
                <h4 class="ff_subtitle">Your getaway to the Heart of Afrika!</h4>
                {% if page.lead_text %}
                   <h2 class="ff_title">{{page.lead_text}}</h2>
                {% endif %}
                <div class="ff_text">Burundi Tour is a travel agency and a tour operator that strives to offer the most memorable moments to lovers of African adventures. Burundi Tour is located in Bujumbura-Burundi and operates across the national territory.
                  <a href="{{page.button.url}}" class="btn btn-light btn-lg"><span>{{page.button_text}}</span></a></div>


<!--     <div class="main-wraper color-2 padd-90">
        <img class="center-image" src="https://source.unsplash.com/random/198x191" alt="Tour Nord">
        <div class="wide-container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="second-title style-2">
                        <h2>Our Best Tours</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-block clearfix">
                            <div class="form-label color-white">Arrival</div>
                            <div class="input-style-1">
                                <img src="{% static "img/calendar_icon.png" %}" alt="">
                                <input type="text" placeholder="Mm/Dd/Yy" class="datepicker">
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="tour-item">
                                <div class="radius-top">
                                    <img src="{% static "img/home_4/DSC_0961.resized.JPG" %}" alt="">
                                    <div class="tour-weather"><img src="{% static "img/weather_icon_rain_blue.png" %}" alt="">+18<span class="sup">o</span>C</div>
                                </div>
                                <div class="tour-desc bg-white">
                                    <h4><a class="tour-title color-dark-2 link-blue" href="#">Bwambarangwe</a></h4>
                                    <div class="tour-text color-grey-3">Consectetur adipiscing</div>
                                    <div class="tour-price">from <span class="color-blue">$660</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tour-item">
                                <div class="radius-top">
                                    <img src="{% static "img/home_4/DSC_0961.resized.JPG" %}" alt="">
                                    <div class="tour-weather"><img src="{% static "img/weather_icon_small_blue.png" %}" alt="">+29<span class="sup">o</span>C</div>
                                </div>
                                <div class="tour-desc bg-white">
                                    <h4><a class="tour-title color-dark-2 link-blue" href="#">Kinindo</a></h4>
                                    <div class="tour-text color-grey-3">Sed do eiusmod</div>
                                    <div class="tour-price">from <span class="color-blue">$599</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tour-item">
                                <div class="radius-top">
                                    <img src="{% static "img/home_4/DSC_0961.resized.JPG" %}" alt="">
                                    <div class="tour-weather"><img src="{% static "img/weather_icon_small_blue.png" %}" alt="">+30<span class="sup">o</span>C</div>
                                </div>
                                <div class="tour-desc bg-white">
                                    <h4><a class="tour-title color-dark-2 link-blue" href="#">Gitega Centre</a></h4>
                                    <div class="tour-text color-grey-3">Ut enim ad minim</div>
                                    <div class="tour-price">from <span class="color-blue">$725</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tour-item">
                                <div class="radius-top">
                                    <img src="{% static "img/home_4/DSC_0961.resized.JPG" %}" alt="">
                                    <div class="tour-weather"><img src="{% static "img/weather_icon_rain_blue.png" %}" alt="">+22<span class="sup">o</span>C</div>
                                </div>
                                <div class="tour-desc bg-white">
                                    <h4><a class="tour-title color-dark-2 link-blue" href="#">Bujumbura Rural</a></h4>
                                    <div class="tour-text color-grey-3">Excepteur sint occaecat</div>
                                    <div class="tour-price">from <span class="color-blue">$860</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tour-item">
                                <div class="radius-top">
                                    <img src="{% static "img/home_4/DSC_0961.resized.JPG" %}" alt="">
                                    <div class="tour-weather"><img src="{% static "img/weather_icon_small_blue.png" %}" alt="">+30<span class="sup">o</span>C</div>
                                </div>
                                <div class="tour-desc bg-white">
                                    <h4><a class="tour-title color-dark-2 link-blue" href="#">Kayero</a></h4>
                                    <div class="tour-text color-grey-3">Cursus libero purus</div>
                                    <div class="tour-price">from <span class="color-blue">$860</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tour-item">
                                <div class="radius-top">
                                    <img src="{% static "img/home_4/DSC_0961.resized.JPG" %}" alt="">
                                    <div class="tour-weather"><img src="{% static "img/weather_icon_small_blue.png" %}" alt="">+25<span class="sup">o</span>C</div>
                                </div>
                                <div class="tour-desc bg-white">
                                    <h4><a class="tour-title color-dark-2 link-blue" href="#">Mabayi</a></h4>
                                    <div class="tour-text color-grey-3">Lorem ipsum dolor</div>
                                    <div class="tour-price">from <span class="color-blue">$860</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tour-item">
                                <div class="radius-top">
                                    <img src="{% static "img/home_4/DSC_0961.resized.JPG" %}" alt="">
                                    <div class="tour-weather"><img src="{% static "img/weather_icon_rain_blue.png" %}" alt="">+18<span class="sup">o</span>C</div>
                                </div>
                                <div class="tour-desc bg-white">
                                    <h4><a class="tour-title color-dark-2 link-blue" href="#">Ryansoro</a></h4>
                                    <div class="tour-text color-grey-3">Consectetur adipiscing</div>
                                    <div class="tour-price">from <span class="color-blue">$660</span></div>
                                </div>
                            </div>
                        </div>
                      </div>
                    <div class="pagination poin-style-2"></div>
                </div>
            </div>-->
        </div>
    </div>

    <div class="main-wraper padd-90">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="second-title">
                        <h2>5 reasons to visit Burundi</h2>
                        <p class="">Take a time to read the 5 reasons to visit Burundi <a href="{{page.five_reason_page.url}}">Here</a>.</p>
                    </div>
                    <!-- <div class="col-xs-12 col-sm-6">
                        <div class="form-block clearfix">
                            <div class="form-label color-white">Departure</div>
                            <div class="input-style-1">
                                <img src="{% static "img/calendar_icon.png" %}" alt="">
                                <input type="text" placeholder="Mm/Dd/Yy" class="datepicker">
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- <input type="submit" class="c-button bg-white" value="book now"> -->
            </div>
        </div>
    </div>
</div>
{% endblock banner %}

{% block content %}

      {% for block in page.body %}
        {% include_block block %}
      {% endfor %}

{% endblock content %}
