{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags wagtailcore_tags cache %}
{% block body_class %}no-overflow{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_css %}

{% block banner %}

<!-- TOP BANNER -->
    <div class="top-baner bg-blue">
        <div class="row no-margin">
            <div class="swiper-container main-slider-4" data-autoplay="0" data-loop="1" data-speed="800" data-center="0" data-slides-per-view="1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide active" data-val="0">
                        <div class="hover-blue black-hover h_100">
                            <div class="clip">
                                <div class="bg bg-bg-chrome act" style="background-image:url({% static "img/home_4/resha_ressort_beach.png" %})"></div>
                            </div>
                            <div class="tour-layer delay-1"></div>
                            <div class="vertical-top">
                                    <div class="weth-icon style-2 bg-blue-light radius-3 fr">
                                        <img src="img/weather_icon_small.png" alt="">
                                        <div class="color-white"><b>+30<sup>o</sup>C</b></div>
                                        <div class="weth-city color-white-light">monte carlo</div>
                                    </div>
                            </div>
                            <div class="vertical-align">
                                <div class="item-block style-4">
                                    <div class="vertical-align">
                                        <h4>from<b>$960</b></h4>
                                        <div class="rate">
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                        </div>
                                        <h3 class="hover-it">monte carlo</h3>
                                        <div class="main-date">july <strong>19th</strong> to july <strong>26th</strong></div>
                                        <p>Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit elementum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-val="1">
                        <div class="hover-blue black-hover h_100">
                            <div class="clip">
                                <div class="bg bg-bg-chrome act" style="background-image:url(img/home_4/slide_2.jpg)"></div>
                            </div>
                            <div class="tour-layer delay-1"></div>
                            <div class="vertical-top">
                                    <div class="weth-icon style-2 bg-blue-light radius-3 fr">
                                        <img src="img/weather_icon_small.png" alt="">
                                        <div class="color-white"><b>+30<sup>o</sup>C</b></div>
                                        <div class="weth-city color-white-light">monte carlo</div>
                                    </div>
                            </div>
                            <div class="vertical-align">
                                <div class="item-block style-4">
                                    <div class="vertical-align">
                                        <h4>from<b>$960</b></h4>
                                        <div class="rate">
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                        </div>
                                        <h3 class="hover-it">monte carlo</h3>
                                        <div class="main-date">july <strong>19th</strong> to july <strong>26th</strong></div>
                                        <p>Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit elementum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                    <div class="swiper-slide" data-val="2">
                        <div class="hover-blue black-hover h_100">
                            <div class="clip">
                                <div class="bg bg-bg-chrome act" style="background-image:url(img/home_4/slide_3.jpg)"></div>
                            </div>
                            <div class="tour-layer delay-1"></div>
                            <div class="vertical-top">
                                    <div class="weth-icon style-2 bg-blue-light radius-3 fr">
                                        <img src="img/weather_icon_small.png" alt="">
                                        <div class="color-white"><b>+30<sup>o</sup>C</b></div>
                                        <div class="weth-city color-white-light">monte carlo</div>
                                    </div>
                            </div>
                            <div class="vertical-align">
                                <div class="item-block style-4">
                                    <div class="vertical-align">
                                        <h4>from<b>$960</b></h4>
                                        <div class="rate">
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                        </div>
                                        <h3 class="hover-it">monte carlo</h3>
                                        <div class="main-date">july <strong>19th</strong> to july <strong>26th</strong></div>
                                        <p>Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit elementum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide active" data-val="3">
                        <div class="hover-blue black-hover h_100">
                            <div class="clip">
                                <div class="bg bg-bg-chrome act" style="background-image:url(img/home_4/slide_4.jpg)"></div>
                            </div>
                            <div class="tour-layer delay-1"></div>
                            <div class="vertical-top">
                                    <div class="weth-icon style-2 bg-blue-light radius-3 fr">
                                        <img src="img/weather_icon_small.png" alt="">
                                        <div class="color-white"><b>+30<sup>o</sup>C</b></div>
                                        <div class="weth-city color-white-light">monte carlo</div>
                                    </div>
                            </div>
                            <div class="vertical-align">
                                <div class="item-block style-4">
                                    <div class="vertical-align">
                                        <h4>from<b>$960</b></h4>
                                        <div class="rate">
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                        </div>
                                        <h3 class="hover-it">monte carlo</h3>
                                        <div class="main-date">july <strong>19th</strong> to july <strong>26th</strong></div>
                                        <p>Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit elementum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide active" data-val="4">
                        <div class="hover-blue black-hover h_100">
                            <div class="clip">
                                <div class="bg bg-bg-chrome act" style="background-image:url(img/home_4/slide_5.jpg)"></div>
                            </div>
                            <div class="tour-layer delay-1"></div>
                            <div class="vertical-top">
                                    <div class="weth-icon style-2 bg-blue-light radius-3 fr">
                                        <img src="img/weather_icon_small.png" alt="">
                                        <div class="color-white"><b>+30<sup>o</sup>C</b></div>
                                        <div class="weth-city color-white-light">monte carlo</div>
                                    </div>
                            </div>
                            <div class="vertical-align">
                                <div class="item-block style-4">
                                    <div class="vertical-align">
                                        <h4>from<b>$960</b></h4>
                                        <div class="rate">
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                            <span class="fa fa-star color-yellow"></span>
                                        </div>
                                        <h3 class="hover-it">monte carlo</h3>
                                        <div class="main-date">july <strong>19th</strong> to july <strong>26th</strong></div>
                                        <p>Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit elementum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
                <div class="pagination poin-style-1"></div>
            </div>
            <div class="find-form no-padding col-xs-12 col-md-6">
                <div>

                    <h4 class="ff_subtitle">WELCOME TO BURUNDI TOUR</h4>
                    {% if page.lead_text %}
                       <h2 class="ff_title">{{page.lead_text}}</h2>
                    {% endif %}
                    <div class="ff_text">Burundi Tour is a travel agency and a tour operator that strives to offer the most memorable moments to lovers of African adventures. Burundi Tour is located in Bujumbura-Burundi and operates across the national territory.
                      <a href="{{page.button.url}}" class="mt-2 btn btn-light btn"><span>{{page.button_text}}</span></a></div>


                    <!-- <div class="form-block clearfix">
                        <div class="form-label color-white">Your Destination</div>
                        <div class="input-style-1">
                            <img src="img/loc_icon_small.png" alt="">
                            <input type="text" placeholder="Enter a destination or hotel name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-block clearfix">
                                <div class="form-label color-white">Check In</div>
                                <div class="input-style-1">
                                    <img src="img/calendar_icon.png" alt="">
                                    <input type="text" placeholder="Mm/Dd/Yy" class="datepicker">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-block clearfix">
                                <div class="form-label color-white">Check Out</div>
                                <div class="input-style-1">
                                    <img src="img/calendar_icon.png" alt="">
                                    <input type="text" placeholder="Mm/Dd/Yy" class="datepicker">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-block clearfix">
                                <div class="form-label color-white">Kids</div>
                                <div class="drop-wrap drop-wrap-s-3">
                                  <div class="drop">
                                     <b>01 kids</b>
                                        <a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
                                        <span>
                                            <a href="#">01 kids</a>
                                            <a href="#">02 kids</a>
                                            <a href="#">03 kids</a>
                                            <a href="#">04 kids</a>
                                            <a href="#">05 kids</a>
                                        </span>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-block clearfix">
                                <div class="form-label color-white">Adults</div>
                                <div class="drop-wrap drop-wrap-s-3">
                                  <div class="drop">
                                     <b>01 adult</b>
                                        <a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
                                        <span>
                                            <a href="#">01 adult</a>
                                            <a href="#">02 adult</a>
                                            <a href="#">03 adult</a>
                                            <a href="#">04 adult</a>
                                            <a href="#">05 adult</a>
                                        </span>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-block clearfix">
                                <div class="form-label color-white">Check Out</div>
                                <div class="drop-wrap drop-wrap-s-3">
                                  <div class="drop">
                                     <b>01 room</b>
                                        <a href="#" class="drop-list"><i class="fa fa-angle-down"></i></a>
                                        <span>
                                            <a href="#">01 room</a>
                                            <a href="#">02 room</a>
                                            <a href="#">03 room</a>
                                            <a href="#">04 room</a>
                                            <a href="#">05 room</a>
                                        </span>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="c-button bg-white" value="search now"> -->

                </div>
            </div>
        </div>
    </div>

    <div class="main-wraper padd-90">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="second-title">
                        <h2>5 reasons to visit Burundi</h2>
                        <p class="">Take a time to read the 5 reasons to visit Burundi <a href="{{page.five_reason_page.url}}">Here</a>.</p>
                    </div>
                    <!-- <div class="col-xs-12 col-sm-6">
                        <div class="form-block clearfix">
                            <div class="form-label color-white">Departure</div>
                            <div class="input-style-1">
                                <img src="{% static "img/calendar_icon.png" %}" alt="">
                                <input type="text" placeholder="Mm/Dd/Yy" class="datepicker">
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- <input type="submit" class="c-button bg-white" value="book now"> -->
            </div>
        </div>
    </div>
</div>
</div>
{% endblock banner %}

{% block content %}

      {% for block in page.body %}
        {% include_block block %}
      {% endfor %}

{% endblock content %}
