{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no" />
        <link rel="shortcut icon" href="favicon.ico"/>

        {# Global stylesheets #}
        {% include "stylesheets.html" %}
        {% block extra_css %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}no-overflow{% endblock %}" data-color="theme-2">
    <div class="loading blue">
      <div class="loading-center">
          <div class="loading-center-absolute">
              <div class="object object_four"></div>
              <div class="object object_three"></div>
              <div class="object object_two"></div>
              <div class="object object_one"></div>
          </div>
      </div>
    </div>

    {% include "include/header.html" %}

    <!-- TOP BANNER -->
    {% block content %}{% endblock %}



    {% include "include/footer.html" %}

        {# Global javascript #}
        {% include "javascripts.html" %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
