{% load static wagtailuserbar %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no" />
        <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        {# Global stylesheets #}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% include "stylesheets.html" %}
        {% block extra_css %}
        {% endblock %}

        <style type="text/css">
          *{font-family: 'Quicksand', sans-serif !important;}
          h1,h2,h3,h4,h5,h6 {
            font-family: 'Josefin Sans', sans-serif !important;
          }
        </style>
    </head>

    <body class="{% block body_class %}no-overflow{% endblock %}" data-color="theme-2">
    <div class="loading blue">
      <div class="loading-center">
          <div class="loading-center-absolute">
              <div class="object object_four"></div>
              <div class="object object_three"></div>
              <div class="object object_two"></div>
              <div class="object object_one"></div>
          </div>
      </div>
    </div>

    {# include "include/header.html" #}
    <header class="color-1 hovered menu-3">
      <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="navbar navbar-expand-lg navbar-light bg-transparent">
              <a href="/" class="navbar-brand logo">
                  <img src="{% static "img/theme-4/Burundi_Tour_200x200_logo.png" %}" alt="lets travel">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- <div class="nav-menu-icon">
                <a href="#"><i></i></a>
              </div> -->
              <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
                {% main_menu template="menus/bootstrap4/main_menu_dropdown.html" %}
                <!-- <ul>
                    <li class="type-1 active">
                        <a href="#">{{ page.title }}<span class="fa fa-angle-down"></span></a>
                        <ul class="dropmenu">
                        </ul>
                    </li>
                </ul> -->
             </div>
             </div>



           </div>
        </div>
      </div>
    </header>
    {% block banner %}{% endblock banner %}
    {% block content %}{% endblock content %}



    {% include "include/footer.html" %}

    {# Global javascript #}
    {% include "javascripts.html" %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
