{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no" />
        <link rel="shortcut icon" href="favicon.ico"/>

        {# Global stylesheets #}
        {% include "stylesheets.html" %}
        {% block extra_css %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}no-overflow{% endblock %}" data-color="theme-2">
        {% wagtailuserbar %}
    <div class="loading blue">
      <div class="loading-center">
          <div class="loading-center-absolute">
              <div class="object object_four"></div>
              <div class="object object_three"></div>
              <div class="object object_two"></div>
              <div class="object object_one"></div>
          </div>
      </div>
    </div>

    <header class="color-1 hovered menu-3">
      <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="nav">
              <a href="/" class="logo">
                  <img src="{% static "img/theme-4/logo_dark.png" %}" alt="lets travel">
              </a>
              <div class="nav-menu-icon">
                <a href="#"><i></i></a>
              </div>
              <nav class="menu">
                  <ul>
                      <li class="type-1 active">
                          <a href="#">{{ page.title }}<span class="fa fa-angle-down"></span></a>
                          <ul class="dropmenu">
                          </ul>
                      </li>
                  </ul>
             </nav>
             </div>
           </div>
        </div>
      </div>
    </header>

    <!-- TOP BANNER -->
    {% block content %}{% endblock %}



    {% include "footer.html" %}

        {# Global javascript #}
        {% include "javascripts.html" %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
