{% load static %}
<footer class="bg-dark type-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-block">
                        <img src="{% static "img/theme-4/logo.png" %}" alt="" class="logo-footer">
                        <div class="f_text color-grey-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore  magna aliqua. Ut aliquip ex ea commodo consequat.</div>
                        <div class="footer-share">
                            <a href="#"><span class="fa fa-facebook"></span></a>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                            <a href="#"><span class="fa fa-google-plus"></span></a>
                            <a href="#"><span class="fa fa-pinterest"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-sm-6 no-padding">
                   <div class="footer-block">
                        <h6>Travel News</h6>
                        <div class="f_news clearfix">
                            <a class="f_news-img black-hover" href="#">
                                <img class="img-responsive" src="https://source.unsplash.com/random/86x76" alt="">
                                <div class="tour-layer delay-1"></div>
                            </a>
                            <div class="f_news-content">
                                <a class="f_news-tilte color-white link-red" href="#">amazing place</a>
                                <span class="date-f">Mar 18, 2015</span>
                                <a href="#" class="r-more">read more</a>
                            </div>
                        </div>
                        <div class="f_news clearfix">
                            <a class="f_news-img black-hover" href="#">
                                <img class="img-responsive" src="https://source.unsplash.com/random/86x76" alt="">
                                <div class="tour-layer delay-1"></div>
                            </a>
                            <div class="f_news-content">
                                <a class="f_news-tilte color-white link-red" href="#">amazing place</a>
                                <span class="date-f">Mar 18, 2015</span>
                                <a href="#" class="r-more">read more</a>
                            </div>
                        </div>
                        <div class="f_news clearfix">
                            <a class="f_news-img black-hover" href="#">
                                <img class="img-responsive" src="https://source.unsplash.com/random/86x76" alt="">
                                <div class="tour-layer delay-1"></div>
                            </a>
                            <div class="f_news-content">
                                <a class="f_news-tilte color-white link-red" href="#">amazing place</a>
                                <span class="date-f">Mar 18, 2015</span>
                                <a href="#" class="r-more">read more</a>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <div class="footer-block">
                     <h6>Tags:</h6>
                      <a href="#" class="tags-b">flights</a>
                      <a href="#" class="tags-b">traveling</a>
                      <a href="#" class="tags-b">sale</a>
                      <a href="#" class="tags-b">cruises</a>
                      <a href="#" class="tags-b">cars</a>
                      <a href="#" class="tags-b">hotels</a>
                      <a href="#" class="tags-b">tours</a>
                      <a href="#" class="tags-b">booking</a>
                      <a href="#" class="tags-b">countries</a>
                   </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <div class="footer-block">
                     <h6>Contact Info</h6>
                       <div class="contact-info">
                        <div class="contact-line color-grey-3"><i class="fa fa-map-marker"></i><span>Aenean vulputate porttitor</span></div>
                        <div class="contact-line color-grey-3"><i class="fa fa-phone"></i><a href="tel:93122956789">+93 123 456 789</a></div>
                        <div class="contact-line color-grey-3"><i class="fa fa-envelope-o"></i><a href="mailto:">letstravel@mail.com</a></div>
                        <div class="contact-line color-grey-3"><i class="fa fa-globe"></i><a href="#">let’s_travel@world.com</a></div>

                    </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="footer-link bg-black">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <span>&copy; 2019 - {% now "Y" %} All rights reserved. Burundi Tours </span>
                    </div>
                    <ul>
                        <li><a class="link-aqua" href="#">Privacy Policy </a></li>
                        <li><a class="link-aqua" href="#">About Us</a></li>
                        <li><a class="link-aqua" href="#">Support </a></li>
                        <li><a class="link-aqua" href="#">FAQ</a></li>
                        <li><a class="link-aqua" href="#">Blog</a></li>
                        <li><a class="link-aqua" href="#"> Forum</a></li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
    </footer>
