{% load static %}

<script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/idangerous.swiper.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.viewportchecker.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/isotope.pkgd.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.mousewheel.min.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
<script type="text/javascript" src="{% static "js/map.js" %}"></script>
<script type="text/javascript" src="{% static "js/all.js" %}"></script>
<script type="text/javascript" src="{% static "js/tourism.js" %}"></script>
