{% load static %}
<header class="color-1 hovered menu-3">
      <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="nav">
              <a href="/" class="logo">
                  <img src="{% static "img/theme-4/Burundi_Tour_200x200_logo.png" %}" alt="lets travel">
              </a>
              <div class="nav-menu-icon">
                <a href="#"><i></i></a>
              </div>
              <nav class="menu">
                  <ul>
                      <li class="type-1 active">
                          <a href="#">{{ page.title }}<span class="fa fa-angle-down"></span></a>
                          <ul class="dropmenu">
                          </ul>
                      </li>
                  </ul>
             </nav>
             </div>
           </div>
        </div>
      </div>
    </header>
